MaGridService/schema/MaGridService/gov.nih.nci.maservice.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.caCORE/3.2/gov.nih.nci.maservice.domain" xmlns:uri="uri:iso.org:21090" targetNamespace="gme://caCORE.caCORE/3.2/gov.nih.nci.maservice.domain" elementFormDefault="qualified">
  <xs:import namespace="uri:iso.org:21090" schemaLocation="ISO_datatypes_Narrative.xsd" />
  <xs:element name="SingleNucleotidePolymorphism" type="SingleNucleotidePolymorphism" />
  <xs:complexType name="SingleNucleotidePolymorphism">
    <xs:complexContent>
      <xs:extension base="NucleicAcidSequenceVariation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MolecularSequenceAnnotation" type="MolecularSequenceAnnotation" />
  <xs:complexType name="MolecularSequenceAnnotation">
    <xs:sequence>
      <xs:element name="source" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="nulceicAcidSequenceFeatureCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NucleicAcidSequenceFeature" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TherapeuticAgent" type="TherapeuticAgent" />
  <xs:complexType name="TherapeuticAgent">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="description" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="name" type="uri:CD" minOccurs="0" maxOccurs="1" />
      <xs:element name="nameCode" type="uri:CD" minOccurs="0" maxOccurs="1" />
      <xs:element name="agentAssociationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="AgentAssociation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="therapeuticAgentIdentifierCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="TherapeuticAgentIdentifier" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DatabaseCrossReference" type="DatabaseCrossReference" />
  <xs:complexType name="DatabaseCrossReference">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="databaseName" type="uri:CD" minOccurs="0" maxOccurs="1" />
      <xs:element name="identifier" type="uri:II" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HomologousAssociation" type="HomologousAssociation" />
  <xs:complexType name="HomologousAssociation">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="similarityPercentage" type="uri:REAL" minOccurs="0" maxOccurs="1" />
      <xs:element name="homologousGene" type="Gene" minOccurs="0" maxOccurs="1" />
      <xs:element name="gene" type="Gene" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DiseaseAssociation" type="DiseaseAssociation" />
  <xs:complexType name="DiseaseAssociation">
    <xs:complexContent>
      <xs:extension base="FunctionalAssociation">
        <xs:sequence>
          <xs:element name="disease" type="Disease" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Allele" type="Allele" />
  <xs:complexType name="Allele">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="sequence" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="nucleicAcidSequenceVariation" type="NucleicAcidSequenceVariation" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayReporter" type="ArrayReporter" />
  <xs:complexType name="ArrayReporter">
    <xs:sequence>
      <xs:element name="name" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="microarray" type="Microarray" minOccurs="0" maxOccurs="1" />
      <xs:element name="geneCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Gene" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nucleicAcidPhysicalLocationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NucleicAcidPhysicalLocation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CellularComponent" type="CellularComponent" />
  <xs:complexType name="CellularComponent">
    <xs:complexContent>
      <xs:extension base="OntologyAnnotation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gene" type="Gene" />
  <xs:complexType name="Gene">
    <xs:complexContent>
      <xs:extension base="NucleicAcidSequenceFeature">
        <xs:sequence>
          <xs:element name="fullName" type="uri:ST" minOccurs="0" maxOccurs="1" />
          <xs:element name="symbol" type="uri:ST" minOccurs="0" maxOccurs="1" />
          <xs:element name="nucleicAcidSequencevariationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="NucleicAcidSequenceVariation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="homologousAssociationCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="HomologousAssociation" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="arrayReporterCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="ArrayReporter" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="geneIdentifierCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="GeneIdentifier" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NucleicAcidPhysicalLocation" type="NucleicAcidPhysicalLocation" />
  <xs:complexType name="NucleicAcidPhysicalLocation">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="endCoordinate" type="uri:INT" minOccurs="0" maxOccurs="1" />
      <xs:element name="startCoordinate" type="uri:INT" minOccurs="0" maxOccurs="1" />
      <xs:element name="orientation" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="chromosome" type="Chromosome" minOccurs="0" maxOccurs="1" />
      <xs:element name="arrayReporter" type="ArrayReporter" minOccurs="0" maxOccurs="1" />
      <xs:element name="nucleicAcidSequenceFeatureCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NucleicAcidSequenceFeature" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NucleicAcidSequenceFeature" type="NucleicAcidSequenceFeature" />
  <xs:complexType name="NucleicAcidSequenceFeature">
    <xs:sequence>
      <xs:element name="featureType" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="organism" type="Organism" minOccurs="0" maxOccurs="1" />
      <xs:element name="molecularSequenceAnnotationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="MolecularSequenceAnnotation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nucleicAcidPhysicalLocationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NucleicAcidPhysicalLocation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="nucleicAcidSequenceFeatureTypes" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NucleicAcidSequenceFeature" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chromosome" type="Chromosome" />
  <xs:complexType name="Chromosome">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="name" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="nucleicAcidPhysicalLocationCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NucleicAcidPhysicalLocation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="genome" type="Genome" minOccurs="0" maxOccurs="1" />
      <xs:element name="organism" type="Organism" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NucleicAcidSequenceVariation" type="NucleicAcidSequenceVariation" />
  <xs:complexType name="NucleicAcidSequenceVariation">
    <xs:complexContent>
      <xs:extension base="NucleicAcidSequenceFeature">
        <xs:sequence>
          <xs:element name="aminoAcidChange" type="uri:ST" minOccurs="0" maxOccurs="1" />
          <xs:element name="chrXPseudoAutosomalRegion" type="uri:BL" minOccurs="0" maxOccurs="1" />
          <xs:element name="codingStatus" type="uri:ST" minOccurs="0" maxOccurs="1" />
          <xs:element name="flank" type="uri:ST" minOccurs="0" maxOccurs="1" />
          <xs:element name="validationStatus" type="uri:BL" minOccurs="0" maxOccurs="1" />
          <xs:element name="geneCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Gene" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="alleleCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="Allele" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="variationIdentifierCollection" minOccurs="0" maxOccurs="1">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="VariationIdentifier" minOccurs="0" maxOccurs="unbounded" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OntologyAnnotation" type="OntologyAnnotation" />
  <xs:complexType name="OntologyAnnotation">
    <xs:complexContent>
      <xs:extension base="MolecularSequenceAnnotation">
        <xs:sequence>
          <xs:element name="term" type="uri:CD" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FunctionalAssociation" type="FunctionalAssociation" />
  <xs:complexType name="FunctionalAssociation">
    <xs:complexContent>
      <xs:extension base="MolecularSequenceAnnotation">
        <xs:sequence>
          <xs:element name="role" type="uri:CD" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TherapeuticAgentIdentifier" type="TherapeuticAgentIdentifier" />
  <xs:complexType name="TherapeuticAgentIdentifier">
    <xs:complexContent>
      <xs:extension base="DatabaseCrossReference">
        <xs:sequence>
          <xs:element name="therapeuticAgent" type="TherapeuticAgent" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VariationIdentifier" type="VariationIdentifier" />
  <xs:complexType name="VariationIdentifier">
    <xs:complexContent>
      <xs:extension base="DatabaseCrossReference">
        <xs:sequence>
          <xs:element name="nucleicAcidSequenceVariation" type="NucleicAcidSequenceVariation" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Microarray" type="Microarray" />
  <xs:complexType name="Microarray">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="annotationDate" type="uri:TS" minOccurs="0" maxOccurs="1" />
      <xs:element name="annotationVersion" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="dbSNPVersion" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="description" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="genomeVersion" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="LSID" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="manufacturer" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="name" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="type" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="arrayReporterCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="ArrayReporter" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GeneIdentifier" type="GeneIdentifier" />
  <xs:complexType name="GeneIdentifier">
    <xs:complexContent>
      <xs:extension base="DatabaseCrossReference">
        <xs:sequence>
          <xs:element name="geneCollection" type="Gene" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Disease" type="Disease" />
  <xs:complexType name="Disease">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="name" type="uri:CD" minOccurs="0" maxOccurs="1" />
      <xs:element name="nameCode" type="uri:CD" minOccurs="0" maxOccurs="1" />
      <xs:element name="diseaseAssociationCollecion" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="DiseaseAssociation" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Organism" type="Organism" />
  <xs:complexType name="Organism">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="commonName" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="ncbiTaxonomyId" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="scientificName" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="taxonomyRank" type="uri:CD" minOccurs="0" maxOccurs="1" />
      <xs:element name="nucleicAcidSequenceFeatureCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="NucleicAcidSequenceFeature" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="chromosomeCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Chromosome" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genome" type="Genome" />
  <xs:complexType name="Genome">
    <xs:sequence>
      <xs:element name="id" type="uri:II" minOccurs="0" maxOccurs="1" />
      <xs:element name="assemblySource" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="assemblyVersion" type="uri:ST" minOccurs="0" maxOccurs="1" />
      <xs:element name="chromosomeCollection" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="Chromosome" minOccurs="0" maxOccurs="unbounded" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MolecularFunction" type="MolecularFunction" />
  <xs:complexType name="MolecularFunction">
    <xs:complexContent>
      <xs:extension base="OntologyAnnotation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AgentAssociation" type="AgentAssociation" />
  <xs:complexType name="AgentAssociation">
    <xs:complexContent>
      <xs:extension base="FunctionalAssociation">
        <xs:sequence>
          <xs:element name="therapeuticAgent" type="TherapeuticAgent" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BiologicalProcess" type="BiologicalProcess" />
  <xs:complexType name="BiologicalProcess">
    <xs:complexContent>
      <xs:extension base="OntologyAnnotation">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

