MaGridService/schema/MaGridService/MaGridService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://maservice.nci.nih.gov/MaGridService" xmlns:wsrp="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.xsd" xmlns:wsrlw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceLifetime-1.2-draft-01.wsdl" xmlns:wsdlpp="http://www.globus.org/namespaces/2004/10/WSDLPreprocessor" xmlns:gtwsdl1="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ServiceGroup-1.2-draft-01.wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/03/addressing" xmlns:wsntw="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" xmlns:wsrbfw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" xmlns:wsrpw="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns2="http://gov.nih.nci.cagrid.data/DataService" xmlns:wns0="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" xmlns:wns1="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" xmlns:ns8="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" xmlns:ns5="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" xmlns:ns12="http://gov.nih.nci.cagrid.data/DataServiceExceptions" xmlns:ns4="uri:iso.org:21090" xmlns:ns11="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" xmlns:ns1="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" xmlns:ns0="http://maservice.nci.nih.gov/MaGridService/types" xmlns:ns7="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" xmlns:ns6="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" xmlns:ns3="gme://caCORE.caCORE/3.2/gov.nih.nci.maservice.util" xmlns:ns9="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" xmlns:ns10="http://maservice.nci.nih.gov/MaGridService/CQLResultTypes" xmlns:ns2="gme://caCORE.caCORE/3.2/gov.nih.nci.maservice.domain" name="MaGridService" targetNamespace="http://maservice.nci.nih.gov/MaGridService">
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.wsdl" location="../wsrf/faults/WS-BaseFaults.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsn/2004/06/wsn-WS-BaseNotification-1.2-draft-01.wsdl" location="../wsrf/notification/WS-BaseN.wsdl" />
  <import namespace="http://gov.nih.nci.cagrid.data/DataService" location="./DataService.wsdl" />
  <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties-1.2-draft-01.wsdl" location="./../wsrf/properties/WS-ResourceProperties.wsdl" />
  <import namespace="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity" location="./ServiceSecurity.wsdl" />
  <!--============================================================

                      T Y P E S
                      
  ============================================================-->
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsrbf="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" targetNamespace="http://maservice.nci.nih.gov/MaGridService" elementFormDefault="qualified" attributeFormDefault="unqualified">
      <import namespace="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-BaseFaults-1.2-draft-01.xsd" schemaLocation="../wsrf/faults/WS-BaseFaults.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLQuery" schemaLocation="./1_gov.nih.nci.cagrid.CQLQuery.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata" schemaLocation="./xsd/cagrid/types/caGridMetadata.xsd" />
      <import namespace="http://gov.nih.nci.cagrid.data/DataServiceExceptions" schemaLocation="./DataServiceExceptions.xsd" />
      <import namespace="uri:iso.org:21090" schemaLocation="./ISO_extensions.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.dataservice" schemaLocation="./xsd/cagrid/types/data/data.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.security" schemaLocation="./xsd/cagrid/types/security/security.xsd" />
      <import namespace="http://maservice.nci.nih.gov/MaGridService/types" schemaLocation="./MaGridServiceTypes.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.common" schemaLocation="./xsd/cagrid/types/common/common.xsd" />
      <import namespace="gme://caGrid.caBIG/1.0/gov.nih.nci.cagrid.metadata.service" schemaLocation="./xsd/cagrid/types/service/servicemodel.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.maservice.util" schemaLocation="gov.nih.nci.maservice.util.xsd" />
      <import namespace="http://CQL.caBIG/1/gov.nih.nci.cagrid.CQLResultSet" schemaLocation="./1_gov.nih.nci.cagrid.CQLResultSet.xsd" />
      <import namespace="http://maservice.nci.nih.gov/MaGridService/CQLResultTypes" schemaLocation="./MaGridService_CQLResultTypes.xsd" />
      <import namespace="gme://caCORE.caCORE/3.2/gov.nih.nci.maservice.domain" schemaLocation="gov.nih.nci.maservice.domain.xsd" />
      <element name="GetGeneBySymbolRequest">
        <complexType>
          <sequence>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetGeneBySymbolResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Gene" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetAgentAssociationRequest">
        <complexType>
          <sequence>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetAgentAssociationResponse">
        <complexType>
          <sequence>
            <element ref="ns2:AgentAssociation" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetBiologicalProcessesRequest">
        <complexType>
          <sequence>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetBiologicalProcessesResponse">
        <complexType>
          <sequence>
            <element ref="ns2:BiologicalProcess" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetCellularLocationsRequest">
        <complexType>
          <sequence>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetCellularLocationsResponse">
        <complexType>
          <sequence>
            <element ref="ns2:CellularComponent" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetDiseaseAssociationsRequest">
        <complexType>
          <sequence>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetDiseaseAssociationsResponse">
        <complexType>
          <sequence>
            <element ref="ns2:DiseaseAssociation" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetFunctionalAssociationsRequest">
        <complexType>
          <sequence>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetFunctionalAssociationsResponse">
        <complexType>
          <sequence>
            <element ref="ns2:MolecularFunction" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetStructuralVariationsRequest">
        <complexType>
          <sequence>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetStructuralVariationsResponse">
        <complexType>
          <sequence>
            <element ref="ns2:SingleNucleotidePolymorphism" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetHomologousGeneRequest">
        <complexType>
          <sequence>
            <element name="organism">
              <complexType>
                <sequence>
                  <element ref="ns2:Organism" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
            <element name="geneSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:GeneSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetHomologousGeneResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Gene" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="GetGeneByMicroarrayReporterRequest">
        <complexType>
          <sequence>
            <element name="reporterSearchCriteria">
              <complexType>
                <sequence>
                  <element ref="ns3:ReporterSearchCriteria" minOccurs="1" maxOccurs="1" />
                </sequence>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
      <element name="GetGeneByMicroarrayReporterResponse">
        <complexType>
          <sequence>
            <element ref="ns2:Gene" minOccurs="1" maxOccurs="unbounded" />
          </sequence>
        </complexType>
      </element>
      <element name="MaGridServiceResourceProperties">
        <complexType>
          <sequence>
            <element ref="ns11:DomainModel" />
            <element ref="ns5:ServiceMetadata" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <!--  place service messages here -->
  <message name="GetGeneBySymbolRequest">
    <part name="parameters" element="tns:GetGeneBySymbolRequest" />
  </message>
  <message name="GetGeneBySymbolResponse">
    <part name="parameters" element="tns:GetGeneBySymbolResponse" />
  </message>
  <message name="GetAgentAssociationRequest">
    <part name="parameters" element="tns:GetAgentAssociationRequest" />
  </message>
  <message name="GetAgentAssociationResponse">
    <part name="parameters" element="tns:GetAgentAssociationResponse" />
  </message>
  <message name="GetBiologicalProcessesRequest">
    <part name="parameters" element="tns:GetBiologicalProcessesRequest" />
  </message>
  <message name="GetBiologicalProcessesResponse">
    <part name="parameters" element="tns:GetBiologicalProcessesResponse" />
  </message>
  <message name="GetCellularLocationsRequest">
    <part name="parameters" element="tns:GetCellularLocationsRequest" />
  </message>
  <message name="GetCellularLocationsResponse">
    <part name="parameters" element="tns:GetCellularLocationsResponse" />
  </message>
  <message name="GetDiseaseAssociationsRequest">
    <part name="parameters" element="tns:GetDiseaseAssociationsRequest" />
  </message>
  <message name="GetDiseaseAssociationsResponse">
    <part name="parameters" element="tns:GetDiseaseAssociationsResponse" />
  </message>
  <message name="GetFunctionalAssociationsRequest">
    <part name="parameters" element="tns:GetFunctionalAssociationsRequest" />
  </message>
  <message name="GetFunctionalAssociationsResponse">
    <part name="parameters" element="tns:GetFunctionalAssociationsResponse" />
  </message>
  <message name="GetStructuralVariationsRequest">
    <part name="parameters" element="tns:GetStructuralVariationsRequest" />
  </message>
  <message name="GetStructuralVariationsResponse">
    <part name="parameters" element="tns:GetStructuralVariationsResponse" />
  </message>
  <message name="GetHomologousGeneRequest">
    <part name="parameters" element="tns:GetHomologousGeneRequest" />
  </message>
  <message name="GetHomologousGeneResponse">
    <part name="parameters" element="tns:GetHomologousGeneResponse" />
  </message>
  <message name="GetGeneByMicroarrayReporterRequest">
    <part name="parameters" element="tns:GetGeneByMicroarrayReporterRequest" />
  </message>
  <message name="GetGeneByMicroarrayReporterResponse">
    <part name="parameters" element="tns:GetGeneByMicroarrayReporterResponse" />
  </message>
  <!--============================================================

                       P O R T T Y P E
                      
  ============================================================-->
  <portType name="MaGridServicePortType" wsrp:ResourceProperties="tns:MaGridServiceResourceProperties">
    <operation name="getGeneBySymbol">
      <input message="tns:GetGeneBySymbolRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetGeneBySymbolRequest" />
      <output message="tns:GetGeneBySymbolResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetGeneBySymbolResponse" />
    </operation>
    <operation name="getAgentAssociation">
      <input message="tns:GetAgentAssociationRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetAgentAssociationRequest" />
      <output message="tns:GetAgentAssociationResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetAgentAssociationResponse" />
    </operation>
    <operation name="getBiologicalProcesses">
      <input message="tns:GetBiologicalProcessesRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetBiologicalProcessesRequest" />
      <output message="tns:GetBiologicalProcessesResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetBiologicalProcessesResponse" />
    </operation>
    <operation name="getCellularLocations">
      <input message="tns:GetCellularLocationsRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetCellularLocationsRequest" />
      <output message="tns:GetCellularLocationsResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetCellularLocationsResponse" />
    </operation>
    <operation name="getDiseaseAssociations">
      <input message="tns:GetDiseaseAssociationsRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetDiseaseAssociationsRequest" />
      <output message="tns:GetDiseaseAssociationsResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetDiseaseAssociationsResponse" />
    </operation>
    <operation name="getFunctionalAssociations">
      <input message="tns:GetFunctionalAssociationsRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetFunctionalAssociationsRequest" />
      <output message="tns:GetFunctionalAssociationsResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetFunctionalAssociationsResponse" />
    </operation>
    <operation name="getStructuralVariations">
      <input message="tns:GetStructuralVariationsRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetStructuralVariationsRequest" />
      <output message="tns:GetStructuralVariationsResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetStructuralVariationsResponse" />
    </operation>
    <operation name="getHomologousGene">
      <input message="tns:GetHomologousGeneRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetHomologousGeneRequest" />
      <output message="tns:GetHomologousGeneResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetHomologousGeneResponse" />
    </operation>
    <operation name="getGeneByMicroarrayReporter">
      <input message="tns:GetGeneByMicroarrayReporterRequest" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetGeneByMicroarrayReporterRequest" />
      <output message="tns:GetGeneByMicroarrayReporterResponse" wsa:Action="http://maservice.nci.nih.gov/MaGridService/GetGeneByMicroarrayReporterResponse" />
    </operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetMultipleResourceProperties">
      <wsdl:input name="GetMultipleResourcePropertiesRequest" message="wsrpw:GetMultipleResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourceProperties" />
      <wsdl:output name="GetMultipleResourcePropertiesResponse" message="wsrpw:GetMultipleResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetMultipleResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="GetResourceProperty">
      <wsdl:input name="GetResourcePropertyRequest" message="wsrpw:GetResourcePropertyRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourceProperty" />
      <wsdl:output name="GetResourcePropertyResponse" message="wsrpw:GetResourcePropertyResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/GetResourcePropertyResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
    </wsdl:operation>
    <wsdl:operation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="QueryResourceProperties">
      <wsdl:input name="QueryResourcePropertiesRequest" message="wsrpw:QueryResourcePropertiesRequest" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourceProperties" />
      <wsdl:output name="QueryResourcePropertiesResponse" message="wsrpw:QueryResourcePropertiesResponse" wsa:Action="http://docs.oasis-open.org/wsrf/2004/06/wsrf-WS-ResourceProperties/QueryResourcePropertiesResponse" />
      <wsdl:fault name="ResourceUnknownFault" message="wsrpw:ResourceUnknownFault" />
      <wsdl:fault name="InvalidResourcePropertyQNameFault" message="wsrpw:InvalidResourcePropertyQNameFault" />
      <wsdl:fault name="UnknownQueryExpressionDialectFault" message="wsrpw:UnknownQueryExpressionDialectFault" />
      <wsdl:fault name="InvalidQueryExpressionFault" message="wsrpw:InvalidQueryExpressionFault" />
      <wsdl:fault name="QueryEvaluationErrorFault" message="wsrpw:QueryEvaluationErrorFault" />
    </wsdl:operation>
    <operation name="getServiceSecurityMetadata">
      <input message="wns1:GetServiceSecurityMetadataRequest" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataRequest" />
      <output message="wns1:GetServiceSecurityMetadataResponse" wsa:Action="http://security.introduce.cagrid.nci.nih.gov/ServiceSecurity/GetServiceSecurityMetadataResponse" />
    </operation>
    <operation name="query">
      <input message="wns2:QueryRequest" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryRequest" />
      <output message="wns2:QueryResponse" wsa:Action="http://data.cagrid.nci.nih.gov/DataService/QueryResponse" />
      <fault name="QueryProcessingException" message="wns2:QueryProcessingExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/QueryProcessingExceptionFaultMessage" />
      <fault name="MalformedQueryException" message="wns2:MalformedQueryExceptionFaultMessage" wsa:Action="http://gov.nih.nci.cagrid.data/DataService/MalformedQueryExceptionFaultMessage" />
    </operation>
  </portType>
</definitions>

